@charset "UTF-8";

/*背景*/
body {
    background-color: lightskyblue;
}
table {
    margin: 0;
    height: auto;
    max-height: 400px;
    width: 100%;
    text-align: center;
}
table, table td, table th {
    border: 1px solid black;
}
.address {
    height: 3em;
}
.info {
    height: 2em;
}