@charset "UTF-8";

/*背景*/
body {
    background-color: lightskyblue;
}

/*ヘッダーの高さ制限*/
header {
    height: 100%;
}

/*タイトル*/
h1 {
    color: brown;
    height: 45px;
    width: 29%;
}

/*マップ*/
#map {
    background-image: url(../item/loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70px;
    position: absolute;
    top: 0;
    right: 0;
    width: 70% !important;
    height: 100% !important;
}

/*検索エリア・テーブル*/
#form {
    position: relative;
    top: 0;
    left: 0;
    width: 29%;
    height: 100%;
}
th h2 {
    width: 4em;
}
.text {
    width: 90%;
}
.middle1 {
    width: 60%;
}

/*マップ変更*/
#change {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    height: 65px;
}
.change {
    display: inline-block;
    margin-right: 10px;
}

/*テーブル大枠*/
#table {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
}
#table1 {
    border-bottom: 2px solid black;
    border-width: 98%;
    position: absolute;
    right: 0;
    height: 240px;
    width: 100%;
    text-align: left;
}
#searchResult {
    position: absolute;
    top: 245px;
    left: 0;
    height: 40px;
}
iframe {
    position: absolute;
    top: 285px;
    left: 0;
    height: 300px;
    margin-top: 30px;
    padding: 0;
}
