@charset "UTF-8";

/*背景*/
body {
    background-color: lightskyblue;
}
#table2 {
    margin: 0;
    height: auto;
    max-height: 400px;
    width: 100%;
    text-align: center;
}
#table2, #table2 td, #table2 th {
    border: 1px solid black;
}
#table2 .destName {
    position: relative;
}
#table2 a:link {
    color: #d25833;
}
#table2 a:visited {
    color: #d25833;
}
#table2 a:hover {
    color: #e3937a;
}
#table2 a:active {
    color: #ff6a3b;
}
.destName {
    width: 60%;
}
.fixed th {
    color: black;
    background: lightskyblue;
}
.fixed {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10000;
}
.fixed::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
#tableBack {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}